[2016-12-05 07:45] andrewhowdencom opened #23 "Bump docker to release 1.28.0"
Heyaa;

Mediawiki 1.28.0 was released about a short while ago. Is it possible to bump this container to that release?

Ref: https://github.com/wikimedia/mediawiki/releases/tag/1.28.0

Cheers!

[2016-12-05 09:54] carrodher commented on #23
Hi @andrewhowdencom,

Thanks for the notice.
We are working on the upgrade, it will be available soon.

Best regards,
Carlos Rodríguez Hernández

[2016-12-07 14:26] andrewhowdencom opened #25 "error: zend_mm_heap"
Hola;

Getting the following error in logs when accessing `/index.php/Special:RecentChanges`. Will see if it goes away with the version bump to 1.28.0, but writing this here to keep track.

[code]

Image: bitnami/mediawiki:1.27.1-r1

Running as part of the helm chart in the official charts reo, on GKE with their new container-specialised instance type.

See http://stackoverflow.com/questions/22479

[2016-12-08 15:47] abarik1981 opened #29 "enviroment variables for mariadb database name, mediawiki LocalSettings.php settings and possibly a mysqldump file to load pages"
Thanks for this, I am able to run my mediawiki. however, I would like to know how can i change the database's name (defaults to bitnami_mediawiki).

Also is there a way to provide enviroment variable for some settings in LocalSettings.php for mediawiki?

Also, it would really help if we can provide a mysqldump file that will get loaded to the database.

right now, all of these, i have to do it man

[2016-12-13 16:50] andrewhowdencom commented on #23
Closed by https://github.com/bitnami/bitnami-docker-mediawiki/pull/30

[2016-12-13 16:50] #23 closed

[2016-12-13 16:52] andrewhowdencom opened #31 "Upgrade to PHP7"
Supported since Mediawiki v1.2.7

Just an idea. Feel free to close if it's a wontfix.

[2016-12-20 15:22] sameersbn commented on #29
@abarik1981 The image requires the user to specify the database admin account defailt which is used to create a database and user for the mediawiki application. Currently it does not provide the user options to specify a custom user and database for the mediawiki application. We are currently working on this feature as it is most widely requested from our users.

With respect to configuring parame

[2016-12-23 08:49] andrewhowdencom commented on #25
Resolved in bitnami/mediawiki:1.28

[2016-12-23 08:49] #25 closed

[2017-01-02 12:32] sameersbn commented on #31
Thanks for pointing it out @andrewhowdencom

If this change is critical to you please apply the following patch and rebuild the image for PHP7 support. We will be updating this image to use php7 by default soon and will keep you posted.

[code]

[2017-01-02 14:26] andrewhowdencom commented on #31
Not critical, but I appreciate your work (:

[2017-02-28 15:00] andrewhowdencom opened #47 "Store skins on a stateful partition"
Currently, extensions are installed on a stateful partition and are thus preserved between reboots. It'd be good to see skins similarly stored -- that'd let me drop in a custom design.

[2017-03-01 10:42] dgonzalezruiz commented on #47
Hi @andrewhowdencom ,

I have released a new revision fixing this. The `skins` folder is now persisted. This should solve your issue.

Let us know if you find any issue while trying it out! :) Thanks a lot for your feedback.

[2017-03-01 11:42] andrewhowdencom commented on #47
Hola,

Thanks! However, the doesn't seem to be a clean upgrade path between the two versions:
[code]

Is this within scope of the container, or should I perform a manual migration?

[2017-03-02 12:28] dgonzalezruiz commented on #47
Hi @andrewhowdencom ,

I just released a new revision of the image fixing this issue. As you said, it wasn't in the scope of the image until now, but now it is in all of our images!

Thanks a ton for your feedback.

[2017-04-08 05:09] edgarmove opened #55 "Migrate from AWS bitnami mediawiki"
Hi, I am moving my bitnami mediawik installation from AWS to docker.
Do you have a procedure / how to for this task?

Thanks!
    EM

**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally)

[2017-04-10 13:53] juan131 commented on #55
I just created this PR https://github.com/juan131/bitnami-docker-mediawiki/pull/1 adding a section to the README.md file describing the whole process.

[2017-04-24 07:05] juan131 commented on #55
@edgarmove we just merged the section describing the Migration process. Could you please try to follow it and let us know if that helps you?

[2017-04-24 20:29] edgarmove commented on #55
Thanks! I have a deadline this week to migrate the site. I will try your procedure and report back here.

[2017-04-27 12:47] sameersbn commented on #47
closing.. please re-open if the issue persists.

[2017-04-27 12:47] #47 closed

[2017-05-31 11:48] ziermmar commented on #31
Any news on when the official image gets php7 support?

[2017-05-31 14:44] ziermmar opened #57 "python lib missing"
If you want to use the core extension "SyntaxHighlight_GeSHi", you're out of luck. It uses pygments, which needs python.

Solution:
If you add 'python' to the 'install_packages' line in your Dockerfile, SyntaxHighlight_GeSHi works.

[2017-06-02 10:22] carrodher commented on #31
Hi @ziermmar,

We currently maintain only one version of the components (Apache, PHP, MySQL, etc). We try to always have the latest version of the components, but in cases like PHP that have several stable branches we need to choose one. In this case, as a company decision, we have decided to use PHP5 by default.

These decisions are reviewed in the company and may change in the future. If you are

[2017-06-02 15:42] carrodher commented on #57
PR #58

[2017-06-02 20:19] andrewhowdencom commented on #57
@carrodher suggest you talk even internally on the PR, so it's transparent.

[2017-06-05 10:11] prydonius commented on #57
@carrodher I'm assuming we'll want to install python using `bitnami-pkg` instead of the `install_packages` command?

[2017-07-12 15:41] andrewhowdencom opened #60 "Feature Request: Log to stdout"
**Description**

**Steps to reproduce the issue:**

1. Go looking for logs

**Describe the results you received:**

1. See they're not accessible with docker log

1. See apache logs. Also, maybe, mediawiki logs.

So, basically it'd be cool to see apache logs rather than "welcome to bitnami" when tailing the logs. Makes collection and aggregation easier

[2017-07-13 15:51] javsalgar commented on #60
Hi,

Thanks for reporting. This is something we want to implement in our containers. The idea will be to redirect the logs to stdout but not to store the logs in the container itself (as it is a bad practice). We will let you know when this is implemented.

[2017-07-14 10:29] andrewhowdencom commented on #60
If I might be so bold as to suggest, you might be able to run an init process (such as tini) and just redirect it to it's stdout/stderr (`/proc/1/fd/1`, `/proc/1/fd/2`)

[2017-08-24 09:05] jloramas commented on #31
Already moved to PHP 7

[2017-08-24 09:05] #31 closed

[2017-08-25 15:24] andrewhowdencom opened #61 "libphp5"
Logs show

[code]

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

My phone got very excited as uptime probes freaked out

**Describe the results you expected:**

I would continue drinking coffee and look busy

**Additional information you deem important (e.g. issue happens only occasionally):**

It's the helm chart

I think that file is on a stateful partition.

[2017-08-25 15:32] andrewhowdencom commented on #61
This is probably a problem with the chart? I'm not sure the container is supposed to support mounted configuration

[2017-09-11 13:55] jotadrilo commented on #61
Hi @andrewhowdencom,

Thanks for reporting this issue. We will force libphp to be updated at runtime.

Currently, the libphp module required by Apache is in the image `/opt/bitnami/apache/conf/httpd.conf` file. When you are reusing existing data, that file is overwritten with that data. The `httpd.conf` file that your data contains was likely generated when the required libphp module version was 5

[2017-09-12 11:50] andrewhowdencom commented on #61
This is exactly what I did ^^ in k8s it's a bit tricky as if you fuck it up you're in a reboot loop, but it was fine.

[2017-09-12 12:51] andrewhowdencom commented on #57
@carrodher can we get an update on this? I just had a request internally about it ^^

[2017-09-12 17:04] #55 closed

[2017-09-14 20:05] jotadrilo commented on #61
I'm glad you finally solved the issue!

[2017-09-14 20:05] #61 closed

[2017-10-03 09:14] yangboz opened #62 "Any phpmyadmin?"
Any phpmyadmin service ?

[2017-10-04 10:16] andrewhowdencom commented on #62
I think the answer to this both is, and should be, no. Normally we'd run this with the database separate, and in docker, the convention is "one logical service per container". If you need phpmyadmin, I think you'd best spin up another container pointed at the mariadb one that contains PHPMyAdmin.

[2017-10-13 02:47] kelvSYC opened #63 "Cannot set LOC_CTYPE to default locale error in postInstallation"
**Description**
I am trying to use docker-compose and this image to create an instance on my NAS.  The error logs show the following error:

    mediawiki_1  | nami    INFO  Initializing mediawiki
    mediawiki_1  | mysql-c INFO  Trying to connect to MySQL server
    mediawiki_1  | mysql-c INFO  Found MySQL server listening at mariadb:3306
    mediawiki_1  | mysql-c INFO  MySQL server listening an

[2017-10-19 11:49] tompizmor commented on #62
Hello @yangboz,

As @andrewhowdencom proposes, you would run phpmyadmin in a separate container. The following docker-compose file should work for you:

[code]

Once it is deployed you could access MediaWiki at http://IP and phpMyAdmin at http://IP:81.

I hope it helps!

[2017-11-13 15:38] juan131 commented on #63
I was unable to reproduce the issue on a Debian OS neither on OS-X. Apparently there's a known issue on the Synology NAS and the modified docker distribution that they use with UTF-8. Please find out the link below:

http://forum.minimserver.com/showthread.php?tid=1710

Could you please reset the NAS or contact the Synology Support?

[2017-11-16 01:20] ritazh commented on #29
+1

Would be great if there's a way to provide an environment variable for the database name. @prydonius would you be able to help with this? Thank you 😄

cc @sozercan @krancour @arschles

[2017-11-16 11:22] juan131 commented on #29
Hi @ritazh

This is only supported on WordPress at this moment.

We have had similar requests on other Docker Images. See:

https://github.com/bitnami/bitnami-docker-testlink/issues/55
https://github.com/bitnami/bitnami-docker-phpbb/issues/49

@tompizmor @sameersbn I think we should try to give this more priority.

[2017-11-16 16:04] ritazh commented on #29
Thanks @juan131 yes this is the same issue across all these images, including bitnami/bitnami-docker-ghost as well.

cc @julienstroheker

[2017-11-21 16:09] juan131 commented on #29
Hi everybody

A new revision of the Docker Image (1.29.2-r1) hast just been released and now the Bitnami Docker Mediawiki Image supports using an existing database.

More info at: https://github.com/bitnami/bitnami-docker-mediawiki#use-an-existing-database

Please feel free to use this new image and give us any feedback about this new feature.

[2017-11-28 15:22] sozercan opened #64 "Issue with external database"
**Description**

Getting this issue below when trying to use an external database (MySql on Azure) when deploying on Kubernetes. Seems like it is trying to look for the `interwiki` table but didn't create for some reason. It does create other tables.

Is this a permissions issue?

[code]

[2017-11-28 15:50] javsalgar commented on #64
Hi,

Have you tried using these env vars from https://github.com/bitnami/bitnami-docker-mediawiki:

- MYSQL_CLIENT_CREATE_DATABASE_NAME: New database to be created by the mysql client module. No defaults.
- MYSQL_CLIENT_CREATE_DATABASE_USER: New database user to be created by the mysql client module. No defaults.
- MYSQL_CLIENT_CREATE_DATABASE_PASSWORD: Database password for the MYSQL_CLIENT_CREAT

[2017-11-28 21:42] sozercan commented on #64
@javsalgar added those vars and `MARIADB_ROOT_USER` and `MARIADB_ROOT_PASSWORD` and getting same error.

[code]

[2017-12-04 06:47] sameersbn commented on #64
@sozercan the issue is probably related to permissions of the database user on the mediawiki database. Can you retry after granting the database user ALL permissions to the mediawiki database?

[2017-12-04 06:51] sameersbn commented on #64
FWIW, I tried the following experiment to simulate the environment:

1. Start a Mariadb container

[code]

2. Create a database and user for mediawiki app

[code]

[code]

3. Launch the Mediawiki app

[code]

[2017-12-13 01:13] PaulSchulz opened #65 "Please add 'imagemagick' package so that '/usr/bin/convert' is present."
The first thing I need to to do with the bitnami mediawiki image is to turn on image uploads.
I can't just do this without also adding the 'imagemagick' package, which supplies the /usr/bin/convert binary.

**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additio

[2017-12-13 11:31] juan131 commented on #65
@tompizmor @jotadrilo this component (ImageMagick) is already included on Discourse or Redmine images. What do you think about adding it to Mediawiki? Do you see any reason why not to add it?

[2017-12-13 11:33] tompizmor commented on #65
Yes, I think we should add it to the MediaWiki docker image

[2017-12-13 11:37] juan131 commented on #65
Perfect! I'll create an internal task to add it. @PaulSchulz thanks so much for reporting it! We'll keep you updated!

[2017-12-13 11:37] jotadrilo commented on #65
I don't see any reason not to do it :)
Thanks for noticing this @PaulSchulz!

@juan131 could you also make sure that the internal ticket to add `imagemagick` package also states tests creation to verify its integration with MediaWiki?

[2017-12-13 11:37] juan131 commented on #65
All right @jotadrilo !

[2017-12-19 15:29] tompizmor commented on #65
Hi @PaulSchulz,

Could you please share with us the steps to reproduce the error that you experienced when imagemagick is not installed?

I can upload images directly after start the container without changing anything in the configuration or install imagemagick.

Thanks,
Tomas

[2017-12-20 13:27] PaulSchulz commented on #65
@tompizer By default, the image does not a have file uploads enabled in 'LocalSettings.php'. If I enable file uploads, I also need to allow /usr/bin/convert..

I would like:
1. File/image uploads to be enabled.
2. (1. then requires) the imagemagick package installed - otherwise an error is displayed when uploading files, and no thumbprints are displayed.

[2017-12-20 15:37] tompizmor commented on #65
@PaulSchulz file uploads should be enabled by default. Can you check what image do you have?

You can check the specific image by running this command inside the mediawiki container:

[code]

I am testing the the latest MediaWiki image (`1.29.2-r1`) and file uploads are enabled by default:

[code]

Also according to the [mediawiki documentation](https://www.mediawiki.org/wiki/Manual:Image_administ

[2017-12-21 15:07] prydonius commented on #29
Closing since this is implemented. @abarik1981 @ritazh let us know if you have any issues with this feature!

[2017-12-21 15:07] #29 closed

[2017-12-22 17:19] tompizmor commented on #65
We have documented how to build a custom image including imagemagick [here](https://github.com/bitnami/bitnami-docker-mediawiki/blob/master/README.md#how-to-install-imagemagick-in-the-bitnami-mediawiki-docker-image)

[2018-04-04 07:52] mustafaarif opened #66 "openssl vulnerable version"
**Description**
OpenSSL version (1.0.1t) on current image is outdated and is vulnerable. openssl reported vulnerabilities: https://www.openssl.org/news/vulnerabilities.html
I have update openssl by adding debian repos, but have found that apache is statically compiled with current openssl library and just updating openssl won't solve the issue.

**Before updating openssl**

root@9bfe180400b7:/# op

[2018-04-04 17:45] beltran-rubo commented on #66
Debian Jessie latest version of OpenSSL is 1.0.1t-1+deb8u8 and it is compatible with mod_ssl.

`root@2532364b13b8:/# apt-get install openssl
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages will be upgraded:
  openssl
1 upgraded, 0 newly installed, 0 to remove and 4 not upgraded.
Need to get 664 kB of archives.
After this operation, 74

[2018-05-29 09:40] yangboz commented on #63
For sure , miniDeb removed locales package , and bitnami mediawiki based on it. I made another docker tag: smartkit/mediawiki:locale to fix it up.
And related pull request: https://github.com/bitnami/bitnami-docker-mediawiki/pull/67

[2018-05-30 08:18] juan131 commented on #63
Hi @yangboz

Thanks for the contribution. I added some comments on your PR

[2018-06-21 09:47] #65 closed

[2018-10-25 07:00] lordSeaworth opened #69 "Admin rights."
Am I missing something or why does the initial user created by the environmental variables on docker run not make it a sysop/bureaucrat? How do I make myself an sysop with this docker image?

[2018-10-26 07:36] juan131 commented on #69
Hi @lordSeaworth

What actions were you unable to perform using the credentials you indicated using the env. variables: **MEDIAWIKI_USERNAME** & **MEDIAWIKI_PASSWORD**?

[2018-10-27 11:05] lordSeaworth commented on #69
Access the admin section? Or any administration at all? Installing plugins. Adding users. Changing permissions. etc.... Seems the default user created with those environmental variables makes the user a normal user. Does not get added to the sysop or bureaucrat level.

[2018-10-29 09:06] juan131 commented on #69
Hi @lordSeaworth

Could you try using the docker-compose below?

[code]

[2018-10-29 09:17] juan131 commented on #69
Hi @lordSeaworth

I just created a Mediawiki container using the latest image and the `docker-compose.yaml` available at this repo and the user was member of the Administrators and Bureaucrats groups. See the screenshot below:

<img width="1108" alt="screen shot 2018-10-29 at 10 15 47" src="https://user-images.githubusercontent.com/6740773/47640380-c6e5e300-db63-11e8-81c7-ad72988ca4b5.png">

[2018-10-29 11:06] lordSeaworth commented on #69
Hmm. Strange. I tried again and now the user seems to be admin. I'm sorry for taking up your time.
I'll close this now.

[2018-10-29 11:06] #69 closed

[2018-10-30 09:53] juan131 commented on #69
Hi @lordSeaworth

No problem! Please do not hesitate to reopen the issue if you face similar behaviours again.

[2018-11-11 17:39] zhengyangfeng00 opened #70 "cannot connect to mysql database"
**Description**

I have manually set up the bitnami mariadb container using docker bridge network, and I got this error when trying to manually bring up the mediawiki container:

[code]

**Steps to reproduce the issue:**

To completely replicate my setup is a bit complex, since I am using ansible to manage containers. But here are the relevant configs:

[code]

I have verified that the db is acces

[2018-11-13 08:00] rafariossaa commented on #70
Hi @zhengyangfeng00,
  Which image are you using for the database ?
  Depending on the version could be in different places.

Thanks forehand,
Rafael Rios

[2018-11-13 15:49] zhengyangfeng00 commented on #70
The image hash for the db was `"Image": "sha256:658579602620a0d12cf78b9a1d3a883b6fc1c76e47250f5bd71e707bc16a7993"`, and the image for the mediawiki image was `"Image": "sha256:bdea7c69c39129a109f0b5f41c6d924a2b2c1f01d964d25b2d6dc37506c7a422"`.

The `postInstallation` step happens on the mediawiki container.

Thanks for helping! @rafariossaa

[2018-11-14 07:19] rafariossaa commented on #70
Thanks @zhengyangfeng00
  But I meant which mysql/maridb image are you using, is it one done by you or is it a bitnami's one or is it from docker hub ...? In that case I would like to know which one.

Best Regards
Rafael Rios

[2018-11-14 15:43] zhengyangfeng00 commented on #70
Sorry I should make it clear that I was using bitnami images from dockerhub for both mariadb and mediawiki. https://hub.docker.com/r/bitnami/mariadb/

[2019-03-25 13:43] rosch100 opened #71 ""syntaxhighlight" extension broken"
**Description**

In Mediawiki Version 1.32, the `<syntaxhighlight>` tag is not working anymore. Since Mediawiki 1.31, python3 is required. Is it possible that it is missing in the container?

**Steps to reproduce the issue:**

1. Create a wiki page:
[code]

**Describe the results you received:**
`<syntaxhighlight>` is not used

**Describe the results you expected:**
A formatted and highlighted tex

[2019-03-25 14:00] rosch100 commented on #71
The issue was a configuration problem

[2019-03-25 14:00] #71 closed

[2019-03-25 15:13] andresbono commented on #71
Glad you could solve it!

[2019-03-28 16:20] #63 closed

[2019-04-02 11:43] #62 closed

[2019-04-02 11:43] #64 closed

[2019-04-02 11:43] #66 closed

[2019-04-02 11:43] #70 closed

[2019-11-21 13:36] Morriz opened #72 "Extract env vars from LocalSettings.php"
It is very poor design to have configuration in files like LocalSettings.php, and they should be read with something like get_env() or whatever php function is used for plucking env vars. This makes it hard to build stateless docker images.

Is there an effort to pick this up? I can do it but won't have time for a while...

[2019-11-22 12:12] jotamartos commented on #72
Hi @Morriz,

Thank you for using our container solution. I understand you are talking about specific configuration parameters inside the LocalSettings.php file, right?

Please note that Bitnami packages and configures already existing applications. We do not change the code of the application or how it's configured. If you have any questions or suggestions about that, we suggest you post it in the

[2019-12-09 19:29] Morriz commented on #72
Tnx. I will take it there ;)

[2019-12-09 19:29] #72 closed

[2020-01-28 14:43] De1taE1even opened #73 "Can't connect to external mysql db that requires ssl"
**Description**

I'm trying to set up a mediawiki within our kubernetes cluster that connects to our Azure mysql instance that requires ssl.  Nothing that I can find in any documentation shows me how to do this.
I tried hacking `$wgDBssl = true;` into the `/opt/bitnami/mediawiki/extensions/MultimediaViewer/tests/browser/LocalSettings.php` file
I tried modifying the sql connection in the post_init.

[2020-01-29 11:15] javsalgar commented on #73
Hi,

Allowing SSL databases is something that we are adding little by little to our solutions. For example, we have it in applications like WordPress. I will open a task for investigating this. Though I cannot give a rough ETA, I will update the ticket when we have more information. Thank you very much for reporting.

[2020-01-29 13:06] De1taE1even commented on #73
Is there anything I can do in the mean time to get me by?  I'm perfectly happy getting into the image and making some not-so-obvious changes to get me going in the mean time.

[2020-01-30 16:09] javsalgar commented on #73
Hi,

The configuration scripts are written in Node.js. You can check them in `/root/.nami/components/com.bitnami.mediawiki/`. The main.js file is where you can edit the logic. If you want to use WordPress as an example, then check the `/root/.nami/components/com.bitnami.wordpress/` folder in the bitnami/wordpress container.

[2020-01-30 16:24] De1taE1even commented on #73
Fantastic, I'll look into it, thank you.

[2020-02-04 21:42] OrwillT opened #74 "Feature Request: Add support for postgresql."
Add support for Postgresql.

[2020-02-06 07:50] rafariossaa commented on #74
Hi @OrwillT ,
  I am sorry to say that it is not currently in our priorities, but if you send a PR we will be happy to review and include it.

[2020-02-21 15:03] crissato opened #75 "mysql did not finishes starting"
docker --version
Docker version 19.03.6, build 369ce74a3c

docker-compose --version
docker-compose version 1.23.1, build b02f1306

uses de docker-compose.yml
it starts mediawiki but mysql stops

CONTAINER ID        IMAGE                  COMMAND                  CREATED              STATUS                          PORTS                                         NAMES
fbf19d9ba9be        bitnami/medi

[2020-02-24 10:11] marcosbc commented on #75
@crissato Your error looks weird. We have a couple of questions to get more information on this issue:

- Is this happening since you deployed MediaWiki, or did it just start failing recently (after having a working image)?
- Could you share your Docker Compose file? We want to see if it's possible you're using an old release of the Bitnami MariaDB Docker image.

[2020-02-24 10:20] marcosbc commented on #75
In addition to the above, could you try running it with the environment variable BITNAMI_DEBUG=true, this could give more information.

[2020-02-26 19:53] #74 closed

[2020-03-03 14:46] crissato commented on #75
I ve restarted docker daemon and it started work again

[2020-03-03 20:15] lucaszanella opened #76 "INFO ==> Starting mediawiki..."
I've just run with `sudo docker-compose up`

This is my compose output:

[code]
it sees that I'm acessing but won't show anything

[2020-03-04 10:37] carrodher commented on #76
Hi, are you using Docker in mac or Windows? Simplifying the explanation, Docker in mac/Windows acts like a Virtual Machine so the port mapping is different that a native Docker. In those cases you need to specify the following environment variable in the `docker-compose.yaml`
[code]

[2020-03-09 18:27] marcosbc commented on #75
In that case I'm closing this issue. Thanks for letting us know!

[2020-03-09 18:27] #75 closed

[2020-03-10 17:41] rcsilva83 commented on #74
Hi!

I'm interested on trying to develop this support to send a PR. I've never worked on Bitnami Docker images before but, by looking at the Dockerfile, I guess the support is just a matter of adding a `bitnami-pkg unpack` to pgsql client, right?

Where can I find the correct package name and it's hash?

Regards!

[2020-03-11 08:15] rafariossaa commented on #74
Hi @rcsilva83 ,
  Yes, you can add a pgsql client that way. You can get them from other of our containers that use it, form example [pgpool](https://github.com/bitnami/bitnami-docker-pgpool/blob/master/4/debian-10/Dockerfile).
  Have into account that this will change over the time, but don't worry about that. Once integrated your changes, those will be generated by our pipeline. So, you can use a

[2020-03-13 17:42] rcsilva83 commented on #74
Hello @rafariossaa !
I started to work on this but I'm getting HTTP 404 when I try to install postgresql-client:

https://github.com/rcsilva83/bitnami-docker-mediawiki/runs/506313964?check_suite_focus=true#step:4:618

I'm following the example in pgpool... Do you know what am I doing wrong?

[2020-03-13 19:02] rcsilva83 opened #77 "Install plugin that requires installing a composer package"
Hi!

I'm trying to install [OpenID_Connect extension](https://www.mediawiki.org/wiki/Extension:OpenID_Connect) and it requires a composer package to be installed. Which is the recommended way to install this composer package?

Thanks for your attention.

Regards,

Rodrigo

[2020-03-16 08:43] andresbono commented on #77
Hi @rcsilva83, `composer` is already available in the mediawiki container. You can find it under `/opt/bitnami/php/bin/composer`.

[2020-03-16 09:02] rafariossaa commented on #74
Could you share your Dockerfile so far ?

[2020-03-16 12:30] rcsilva83 commented on #74
Sure: https://github.com/rcsilva83/bitnami-docker-mediawiki/blob/master/1/debian-10/Dockerfile

I added the line 14 and "/opt/bitnami/postgresql/bin:" on line 4.

[2020-03-16 12:38] rcsilva83 commented on #77
Nice. Do you think I should build my own image based Bitnami's image and the composer package installed or should I run Docker exec commands to install it on the running container? I feel the first option is better but it would make it more difficult do update.

[2020-03-17 08:18] rafariossaa commented on #74
Hi,
  I use this for the 14 line:
[code]
 Could you give it a try ?

[2020-03-17 09:48] andresbono commented on #77
Building your own base image from the bitnami one is what we recommend in these cases. Imagine that the container goes down for some reason. You will need to execute the docker exec command again because your required packages will be missing until then.

[2020-03-17 16:42] rcsilva83 commented on #77
OK. Thank you very much for your attention!

[2020-03-17 16:42] #77 closed

[2020-03-17 16:52] rcsilva83 commented on #74
Yes, it worked! Thank you very much!

Next step is to set the correct environment variables for the database connection. Today we have MARIADB_* and MEDIAWIKI_DATABASE_* variables. I couldn't find them on this repository, so I believe they are defined on the `mediawiki` Bitnami package, right? How can I search for PostgreSQL related variables?

[2020-03-19 07:53] rafariossaa commented on #74
Sorry, I didn't realize until  now that this container use nami, that is a javascript script that does the initialization process, so this is going to be a complex process.
Those scripts are in the `/root/.nami/components/com.bitnami.mediawiki` folder, mainly `main.js` and `helper.js`. These scripts plus the program files, that are in `/opt/bitnami/xxxxx` is what is in the package files installed

[2020-03-24 12:07] #76 closed

[2020-04-17 17:00] paxinos opened #78 "Only deploying Mariadb"
When deploying on Rancher through their App Catalog system, only mariadb is deployed.   There is a service defined for media wiki, but that container is not deployed.

[2020-04-20 06:03] juan131 commented on #78
Hi @paxinos

- Are you deploying Mediawiki using the [Bitnami Helm chart for Mediawiki](https://github.com/bitnami/charts/tree/master/bitnami/mediawiki) on a K8s environment?

Do you have any restriction/policy in the cluster where you're deploying the solution regarding running containers as root?

[2020-04-20 12:29] paxinos commented on #78
Deploying on a K8S environment.  Using the Rancher catalog manager.

No restrictions that I am aware of.

The MariaDB container deploys.   There is a service for MediaWiki, but the
container does not deploy - or even a sign that it tried and failed.
Normally I would see the pod with error messages...

Pax

*ΓΝΩΘΙ ΣΑΥΤΟΝ*

"The real voyage of discovery consists not in seeking new landscapes but in

[2020-04-21 06:18] juan131 commented on #78
HI @paxinos

MariaDB is a non-root container (find more information at https://docs.bitnami.com/containers/how-to/work-with-non-root-containers/) which is something supported in the vas majority of Kubernetes clusters.

On the other hand, Mediawiki is not a root container. Some K8s distributions (such as Openshift or TKG) exclusively allow to run non-root containers and, therefore, will prevent co

[2020-04-23 11:41] paxinos commented on #78
So, that wasn't it at all...   Seems that the Helm Chart isn't ready for
use in the Rancher Catalog

After manually installing the Helm Chart I get the following...   after
following the instructions I now have a deployed media wiki without any
changes to the cluster...

1. Get the Mediawiki URL by running:

  NOTE: It may take a few minutes for the LoadBalancer IP to be available.

        Watch

[2020-04-24 06:16] juan131 commented on #78
Hi @paxinos

I am not very familiar with Rancher UI but yes, this Helm chart requires modifying some parameters to successfully deploy it (like the hostname). So I guess you need to find the way to set those parameters through the Rancher UI.

[2020-05-14 13:44] #78 closed

[2020-06-10 15:00] alesnav opened #79 "How to enable LDAP Apache modules"
**Description**

I am trying to enable LDAP modules as said in [your docs pages](https://docs.bitnami.com/bch/apps/mediawiki/configuration/enable-modules/), but I am unable to get it done.

I have tested the following workarounds:

- **Using Docker Configs** to change `/opt/bitnami/apache/conf/httpd.conf`. It fails due to the following error: `Error executing 'postInstallation': EROFS: read-only f

[2020-06-11 09:34] rafariossaa commented on #79
Hi,
  Those instructions are for the MediaWiki Stack for Bitnami Cloud Hosting which is a VM.
  For the container, you should be using [this](https://github.com/bitnami/bitnami-docker-mediawiki#user-content-extend-this-image).

   Could you give it a try ?

[2020-06-17 00:48] ModestTG opened #80 "Initial MediaWiki Setup Fails, Can't Find mw-config/index.php"
**Description**
As it says in the description, when I try to access a new instance of MediaWiki, setup using Docker Compose, I get a screen showing that LocalSettings.php cannot be found, and that the initial setup for the database needs to be completed. I click the link to setup my LocalSettings.php, and I get redirected to the directory mw-config/index.php, and I get a 404 error. I don't know ab

[2020-06-17 07:51] juan131 commented on #80
Hi @ModestTG

This is related to the persistence. Mediawiki moves some files that must be persisted during restarts to `/bitnami/mediawiki` and then it creates symlinks from `/opt/bitnami/mediawiki/` to `/bitnami/mediawiki/`. The reason why you see these files in your filesystem is because you mounted it in the container:

[code]

The problem is that you didn't give Mediawiki any hostname and Medi

[2020-06-17 17:08] ModestTG commented on #80
Just so I understand correctly, I need to add the EV `MEDIAWIKI_HOST` to my env file, then I need to update the **container's** `/etc/hosts` file to add a hostname to `127.0.0.1`? I assume you're referring to the mediawiki container's `/etc/hosts` file in your response. If that's the case, shouldn't I be able to just put `MEDIAWIKI_HOST=127.0.0.1` into my env file and skip updating `/etc/hosts`?

[2020-06-18 06:22] juan131 commented on #80
Hi @ModestTG

It's exactly the opposite. You need to edit the `/etc/hosts` in your Ubuntu VM, so your VM associates the hostname `mediawiki.local` to `127.0.0.1`.
Then, you need to add the `MEDIAWIKI_HOST` to your environment file (the one you're using in the lines below) with the value: `MEDIAWIKI_HOST=mediawiki.local`

[code]

This way Mediawiki thinks it needs to create the links using `mediawi

[2020-06-18 13:59] ModestTG commented on #80
Thanks for the reply @juan131

In my last response I noted that I am trying to access MediaWiki from a Windows 10 Workstation.

The machine hosting MediaWiki is running Ubuntu _Server_ 18.04, so I don't have a GUI/browser that I can use to access MediaWiki locally on the VM.

I have many other web based services running in containers on this Ubuntu Server VM, and typically what I would do is acces

[2020-06-22 06:37] juan131 commented on #80
Hi @ModestTG

In that case, you can still access Mediawiki, but it needs to be configured properly. My recommendation is using a hostname, so I would do this:

- Configure `MEDIAWIKI_HOST=mediawiki.local` in the Mediawiki container.
- Configure you laptop (Windows 10) to associate `mediawiki.local` to the IP of your Ubuntu VM (10.0.0.126). Since it's a Windows computer, the process is a little bit

[2020-06-22 15:27] ModestTG commented on #80
Hi @juan131,

I followed your instructions, and I still got the same result. I didn't think referencing the web server with a hostname vs an IP would make any difference but I tried it anyways per your instructions and I still got the same error.

The more I work with this error, the more I realize that the folder isn't missing (`/mw-config/index.php`), rather, it's not being created / included wi

[2020-06-24 06:38] juan131 commented on #80
Hi @ModestTG

I just tried to reproduce on my side, and it worked without any issue for me. Please note that I did everything on my Mac, but it should work exactly the same way for you.

These are the steps I followed:

- Clone this repo
- Apply the changes below in the main **docker-compose.yaml**:

[code]

- Edit **/etc/hosts** file:

[code]

- Start the container (previously I ensure there was

[2020-06-25 05:04] ModestTG commented on #80
Hi @juan131,

Thanks again for the reply. I can't help but notice in your example of a working MediaWiki instance that you didn't actually link the DB to either MariaDB or MySQL. From the Readme.MD it says:

Right in the description, you are told to use a DB backend, yet in your example `docker_compose.yml` file, you don't have any of the EV's required to link MediaWiki to a DB. Your logs even sho

[2020-06-25 06:50] juan131 commented on #80
Hi @ModestTG

I am using a MariaDB database. Please take a look to the **docker-compose.yaml** I'm using: https://github.com/bitnami/bitnami-docker-mediawiki/blob/master/docker-compose.yml

As you can see, that Docker Compose is creating two containers: a Mediawiki container and a MariaDB container. Mediawiki is configured to used that MariaDB container as the database backend (see `MARIADB_HOST=m

[2020-06-26 10:14] alesnav commented on #79
Hello @rafariossaa , thanks for your response.

I see that the only way to get it done is by customizing the Docker image then... So I'm closing the issue.

But anyway, I think that it will be "better" if the official Bitnami image allows setting this minimal configuration change using one of the options commonly used for this goal. I mean, one of the following approaches:

- Env variables
- Docke

[2020-06-26 10:14] #79 closed

[2020-06-30 06:55] rafariossaa commented on #79
Hi @alesnav ,
  Thanks for the suggestion.
  In any case we are open to PRs, so feel free to send one. We will glad to review and merge it.

[2020-07-03 07:42] rosch100 opened #81 "ERROR ==> The MARIADB_ROOT_PASSWORD environment variable is empty or not set"
**Description**

Since the latest update, the container fails to start. The error is:
`The MARIADB_ROOT_PASSWORD environment variable is empty or not set`
This error shows despite the correct existing environment variable. When I set the environment variable `ALLOW_EMPTY_PASSWORD=yes`, the container tries to connect to the database without success (as expected).

**Additional information you deem

[2020-07-03 14:35] dani8art commented on #81
Hi @rosch100 thanks for opening this issue, I saw you have used `ALLOW_EMPTY_PASSWORD=yes` but your docker-compose file has `MARIADB_ROOT_PASSWORD` set.

Also, I'm trying in my local and I'm not able to reproduce it.

Are you setting `ALLOW_EMPTY_PASSWORD=yes` in both containers?

[code]

[2020-07-03 14:45] rosch100 commented on #81
Hi @dani8art, I do not use `ALLOW_EMPTY_PASSWORD=yes`.
As described, I tried to debug and only temporarily change from defining my root password: `MARIADB_ROOT_PASSWORD=mypassword` to an empty password in order to see, whats happening.
To me it seems that my configuration: `MARIADB_ROOT_PASSWORD=mypassword` is ignored since the error is thrown using the configuration posted.

[2020-07-03 15:21] dani8art commented on #81
Sorry but I try with a password and it works too, could you try these changes?

[code]

[2020-07-05 09:06] rosch100 commented on #81
I checked previous versions of bitnami/mediawiki. Up to version `bitnami/mediawiki:1.34.2-debian-10-r4`, everything works well.
Starting with version `bitnami/mediawiki:1.34.2-debian-10-r5` the image does not start and throws the mentioned error: `The MARIADB_ROOT_PASSWORD environment variable is empty or not set` despite correct config.

[2020-07-06 13:29] dani8art commented on #81
Sorry, but I was not able to reproduce the issue and I would like to figure out the problem and try to help you. Please, could you share the complete configuration of your docker-compose?

[2020-07-18 05:09] #80 closed

[2020-07-20 22:23] marcosbc commented on #60
Hi, in `20180422.4.0-debian-10-r0` we changed the implementation of the container and now the logs are printed via stdout/stderr, thanks to changes to the Apache initialization logic. I'm closing this, but feel free to re-open if you consider this is still an issue.

[2020-07-20 22:23] #60 closed

[2020-07-25 18:18] rosch100 commented on #81
Hello @dani8art,
I posted my docker-compose.yaml in my error report (the first post of this thread). Do you need anything else?

[2020-07-27 12:21] andresbono commented on #81
Hi @rosch100, thanks for providing the additional information. We could reproduce the issue finally. Could you please in the meantime modify your docker-compose to adapt certain environment variables?

[code]

Please, let us know if that change makes it work for you.

[2020-07-27 14:57] rosch100 commented on #81
Hello @andresbono,
thank you!
However, there are some issues with your suggestion. I changed the docker-compose.yaml as suggested and the mediawiki container seems to start fine. However, when I try to access the web site, I receive a bad gateway message from my reverse proxy.
The log output is:
[code]

Reverting to version `bitnami/mediawiki:1.34.2-debian-10-r4`, operation resumes as expected and

[2020-07-28 08:24] andresbono commented on #81
Hi @rosch100, we have done major changes in `bitnami/mediawiki:1.34.2-debian-10-r5`, please check https://github.com/bitnami/bitnami-docker-mediawiki#1342-debian-10-r5.

Note that the ports have changed, that may be related with the reverse proxy problem. See the new docker-compose:

https://github.com/bitnami/bitnami-docker-mediawiki/blob/2fa47ea18d0636ff94eaa57e971d9378cc4b44d6/docker-compose.ym

[2020-07-28 09:08] rosch100 commented on #81
Hello @andresbono,
thank you for your support! I missed that point and changed my configuration to reflect the new exposed port.
Now it works!

[2020-07-28 09:08] #81 closed

[2020-07-28 10:33] andresbono commented on #81
Great! Thanks for confirming it

[2020-08-31 08:56] mr-bat opened #82 "Restricted content when trying to enter the website"
**Description**
[code]
After running these two commands and trying to enter my wiki for the first time it shows me dialog prompt asking me for my username and password claiming the content is restricted.

**Steps to reproduce the issue:**

1. run the above commands
2. try to enter the website

**Describe the results you received:**
I received the following prompt:
<img width="455" alt="image" src=

[2020-08-31 11:09] javsalgar commented on #82
Hi,

I was unable to reproduce the issue in neither Chrome or Firefox

![image](https://user-images.githubusercontent.com/1133777/91714045-34f9f780-eb8b-11ea-8426-39171c11d8b1.png)

Which browser version are you using? Are going to a specific page?

[2020-08-31 16:55] mr-bat commented on #82
I am using Firefox. No, I just entered the IP address of my server and was waiting for the homepage of the wiki.

[2020-09-01 08:11] javsalgar commented on #82
Just to confirm, don't you have any other application running that could be conflicting? Does the issue happen when entering the container and executing curl?

[2020-09-25 15:31] kachkaev commented on #65
How about adding imagemagick to the image by default?

[2020-09-25 17:03] kachkaev opened #83 "1.35 release"
[MediaWiki 1.35](https://www.mediawiki.org/wiki/MediaWiki_1.35) got released just now 🎉 I’m opening this issue to discuss the upgrade, hoping that this is the right place to do so.

I’m new to managing mediawiki instances, but I have a young k8s cluster running this image via the [helm chart](https://hub.helm.sh/charts/bitnami/mediawiki). Happy to help with the testing 🙌

[2020-09-27 07:52] #82 closed

[2020-09-28 06:21] juan131 commented on #65
Hi @kachkaev

We finally discarded including the component by default in the image, and document the process instead.

There are two main reasons for not including it by default:

- Image size
- Reduce the number of components in the image (the less components you have, the less likely to be affected by a CVE)

[2020-09-28 13:16] andresbono commented on #83
Hi @kachkaev, what are your current chart and application versions? If the upgrade is considered a major change, some manual steps may be required, see https://github.com/bitnami/charts/tree/master/bitnami/mediawiki#upgrading.

Of course, en any case, (manual or automatic) please do backups of your data in case something goes wrong.

[2020-09-28 13:38] kachkaev commented on #83
Hi @andresbono 👋

I just started playing with Mediawiki and Bitnami’s helm chart last week, so I'm currently on Mediawiki 1.34.2 / Chart version 10.0.5. I see that you've already released the new versions of both the image and the chart, so I can simply dispose the old temporary setup and roll out a new deployment from scratch.

If you want me to try out something else to test an upgrade use case

[2020-09-29 07:56] andresbono commented on #83
Thanks for the kind words!

In your case, as the versions don't differ so much and both are within the same major `10.x.x`, you can simply run the command below, supposing you are in the root of the project https://github.com/bitnami/charts:

[code]

That command will take care of updating the deployment and rolling-out the new version of the pods.

In general, you may want to get the charts from

[2020-09-29 08:16] andresbono commented on #83
The latest version was just released:

[code]

[2020-10-01 21:02] kachkaev opened #84 "Visual editor not working in sub-pages in MediaWiki 1.35"
**Description**

**Steps to reproduce the issue:**

1. Create a new Mediawiki instance (I’ve done so via the [Helm Chart](https://hub.helm.sh/charts/bitnami/mediawiki))

1. Enable [Visual Editor](https://www.mediawiki.org/wiki/Extension:VisualEditor) in `LocalSettings.php`:
[code]
1. Open the Visual Editor on the Main page or any other page without `/` in its title, confirm that it works.
1. Creat

[2020-10-02 08:41] dani8art commented on #84
Hi @kachkaev thanks for opening the issue.

I think you can try one of these methods in order to get this working https://github.com/bitnami/bitnami-docker-mediawiki#customize-this-image

[2020-10-02 10:07] kachkaev commented on #84
Hi @dani8art, thanks for paying attention to this issue! I tried customising the contents of the image for a couple hours yesterday, but failed in this so far. Because I'm deploying the container to k8s via a helm chart, it's not that easy to mount an extra file.

I can take another look, but probably this will need to wait for a few days because of the deadline I’ve got. Happy to share the result

[2020-10-03 23:57] kachkaev commented on #84
A small update folks 👋

Since I have two instances of the wiki running, I could test if my hypothesis about `AllowEncodedSlashes NoDecode` is correct or not by hacking the sandbox.

So I went to the k8s dashboard and first manually created a config map:

[code]

↑ The contents of this file were the same as what I saw in `/opt/bitnami/apache/conf/vhosts/httpd.conf` for a live MediaWiki pod. The onl

[2020-10-05 08:05] dani8art commented on #84
Hi @kachkaev, that's really great! A very cool solution to the problem.

Thank you for the suggestion, it could be interesting to support this feature as you said it could be very useful to other MediaWiki users. We have opened an internal task in order to evaluate it, unfortunately, due to there is a way to configure the container and regarding priorities and internal milestones we can't give you

[2020-10-22 07:55] kachkaev commented on #84
not stale

[2020-10-24 13:54] Jyosua opened #85 "Cannot install AWS extension using composer"
I'm using the latest version of this docker container that is publicly released. Git was missing from the container, so I cloned outside of it and copied the files to the /bitnami/mediawiki/extensions/AWS folder. Then I did a docker exec to shell into the container and try to run `composer install`.

I received the following errors when I attempted this:
[code]

Do you have a solution for this? It

[2020-10-24 14:14] Jyosua commented on #85
So after poking around a little bit more, it appears that in order to get this to work, on the host system you need to do:
`sudo chown -R 1001:root AWS`
 Then put the AWS folder in another folder, like `test` for instance. Then do:
[code]
That will ensure the AWS folder has the proper permissions once inside the container. Then you can do `composer install` and it will work.

[2020-10-26 12:12] carrodher commented on #85
The MediaWiki container is following a [non-root approach](https://docs.bitnami.com/tutorials/work-with-non-root-containers) since [version 1.34.2-debian-10-r5](https://github.com/bitnami/bitnami-docker-mediawiki#1342-debian-10-r5). That means the user executing the container and the process (as well as the owner of the directories) is a non-privileged user, so as you rightly did, users need to gi

[2020-10-26 12:18] Jyosua commented on #85
Could you perhaps add instructions for this to the readme? I feel like installing extensions that use composer is a common usecase and the bit about permissions is a tiny, tiny footnote that isn't clear about the group and is really easy to miss.

[2020-10-26 12:31] carrodher commented on #85
There are some instructions in the ["Customize this image"](https://github.com/bitnami/bitnami-docker-mediawiki#extend-this-image) section about how to extend the Docker image. In the example, the user is modified in the Dockerfile to install `vim`, it is set to root and then 1001 again. Do you think it would be useful to add something related to your use case in that section? Do you like to send

[2020-11-07 12:50] kachkaev commented on #84
not stale

[2020-11-13 16:56] KlugmannM opened #86 "MediaWiki + Traefik 2.3.2 (bad gateway - GET / HTTP/1.1" 301)"
Hello,

I tried to install on a VPS via docker-compose Mediawiki. The reverse proxy is Traefik which works with Nextcloud;Portainer without restrictions. Based on your template I have adapted the docker-compose.yml.

[code]
[code]
So far everything could be installed without any problems, the containers run smoothly according to the logs.
If I now go to the given URL there is always badgateway.
[l

[2020-11-17 13:37] miguelaeh commented on #86
Hi @KlugmannM ,

That is correct, those are the ports used.

About traefik, I am afraid I am not familiar with it. I have take a look to your files but I can't see where is the `8080` indicated for mediawiki.

Just to consider it, a `301` error is a `Moved Permanently` not sure how are you checking it but if you are using `curl` try adding the `-L`.

[2020-11-21 03:09] #85 closed

[2020-12-09 19:41] KlugmannM commented on #86
Okay now it works. After a new installation and **PORT 8080** the following appears after entering your domain.
`https://localhost/wiki/Main_Page. ` after this you had to type for localhost your Domain (DNS) and then you had exis to your own mediawiki.

[2020-12-09 19:41] #86 closed

[2020-12-10 08:05] andresbono commented on #86
That's great to hear! 🎉 Thanks for sharing what finally worked for you.

[2021-01-12 19:12] JoelFeiner opened #87 "Outbound emails do not send, nothing in logs"
**Description**

I have set up the docker compose file to include the following environment variables:
[code]

However, in the logs, whenever I get to a point where it would send an email, I see this error message:
[code]

So it seems like the image is missing sendmail? Either that or there is some other misconfiguration. I'm not sure, however, what that might be.

I have verified that it is possi

[2021-01-13 09:52] miguelaeh commented on #87
Hi @JoelFeiner ,
There is an error in the README.md, please remove the `tls://` part from the host. Also, you need to add the `MEDIAWIKI_SMTP_HOST_ID`.
We have already addressed the README issue and it will be published soon.
Reagards.

[2021-01-13 16:24] JoelFeiner commented on #87
@miguelaeh I have made those changes, but it still fails to send. When I use the Confirm email address page, I get this error:
[code]

Of course, there's not much I can do with that since it doesn't tell me what the problem is.

For what it's worth, here is the new config via the environment in the container:
[code]

I'm still not entirely clear on what HOST_ID is supposed to be, but I assume it i

[2021-01-14 09:15] miguelaeh commented on #87
Hi @JoelFeiner ,

About the HOST_ID:

We have just tested this on our side and seems to be working. Could you try fetching the latest image and deploying the docker-compose in other folder from scratch?
Also, sometimes the issues are related to the SMTP provider used, have you tried with a different one than office365?

[2021-01-14 16:15] JoelFeiner commented on #87
Unfortunately, this does not explain to me what it actually ought to be set to in various cases. In examples I've seen, it is set to the domain of the wiki. When using `$wgSMTP`, I have set `IDHost` to our wiki domain and it seems to work fine.

Is there a new build since yesterday? I have my compose set up to always fetch the latest.

We will ultimately need to use Office365. As I noted above, us

[2021-01-14 16:23] JoelFeiner commented on #87
I see what the problem is. If there is already a LocalSettings.php file, the Docker process will *not* add settings to the file. It only does that if the file does not already exist. However, if the file does not already exist, I just get these messages:
[code]

The only way around that is to completely delete the shared volume data so that it gets scaffolded when the container starts. It'd be gre

[2021-01-15 08:58] miguelaeh commented on #87
Hi @JoelFeiner ,
The image only generates the configuration when there is not a volume mounted or the volume is empty. When you see the following meesage into the log the configuration will be the stored one, not the new provided one:
[code]

If you are working in a testing scenario try the following:

- In case you use docker volumes:

[code]

- In case you are mapping local volumes:
 1. Either e

[2021-01-15 16:34] JoelFeiner commented on #87
@miguelaeh

I understand what it does, but I don't understand why. Is there a reason the Docker script can't create the file if it doesn't exist, even if the volume itself already exists? I also don't understand why it can't update the file if the configuration via environment variables changes when rerunning Docker compose. Can that change be made? This would make it considerably easier to upgrad

[2021-01-18 09:06] miguelaeh commented on #87
Hi @JoelFeiner ,
It is because of the way we build the images. By default, if the volume is already initialized it means that the users are running the application with their custom settings so in that case we don't want to override the user custom configuration in the initialization.

So attending to the described above, we don't plan to make those changes.

[2021-01-26 19:38] siddharthvp opened #88 "MediaWiki install script fails"
**Description**

Mediawiki setup fails in the "Running MediaWiki install script" stage.

**Steps to reproduce the issue:**

1. docker-compose up

**Describe the results you received:**

mediawiki container exited with code 1.

Last log entry was "INFO  ==> Running MediaWiki install script"

**Describe the results you expected:**

Expected mediawiki to set up correctly

**Additional information you

[2021-01-27 17:12] andresbono commented on #88
Hi @siddharthvp, can you specify the `BITNAMI_DEBUG=true` environment variable and share the logs of the container with us?

[2021-02-20 19:46] sense-amid-madness opened #89 "Can not login to new Mediawiki: "problem with your login session"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version` (if

[2021-02-21 01:30] sense-amid-madness commented on #89
I managed to get one step further by deleting all my cookies for the site, and now I can login. However, after the login, I am redirected to the wrong page.

The reason is likely that I am trying to run two mediawikis on the same URL, but at two different ports. I realize this is an edge case which maybe does not work at all. I can view both Wikis without problems, but the second site listening at

[2021-02-22 15:04] alemorcuq commented on #89
Can you share some instructions to try to reproduce the issue? How did you install and configure MediaWiki?

[2021-04-13 18:17] wgandhi commented on #86
I am having the same issue described here.. When I get to <my-ip>:8080, the link is re-routed to localhost/wiki/Main_Page. I have to change localhost to <my-ip>:8080/wiki/Main_Page every single time for it to work. If I modify a wiki, I end up with the same issue. I tried modifying the env variable called MEDIAWIKI_HOST but that did not fix the issue, I always get routed to localhost.

[2021-04-14 07:47] javsalgar commented on #86
Hi,

Could you share the docker-compose.yml file you are using?

[2021-04-14 10:32] #87 closed

[2021-04-14 10:32] #88 closed

[2021-04-14 14:47] wgandhi commented on #86
I do not use docker-compose.. I followed the instructions from the wiki in this section  **Mount host directories as data volumes using the Docker command line**

Everything works fine, it is just difficult to keep changing ''localhost'' to ''my-ip:8080'' all the time.

[2021-04-15 08:28] javsalgar commented on #86
Could you try launching a fresh instance (without re-using the previous volume, but creating a new one) and setting the MEDIAWIKI_HOST env var? Because this host is only set the first time.

[2021-04-15 16:11] leanhdung1994 opened #90 "Error "No such file or directory ... Maintenance.php""
I've found a bug of Parsoid from MediaWiki and informed it to people at MediaWiki. They have fixed it. The detail is at https://phabricator.wikimedia.org/T280246. I hope that you can update Bitnami MediaWiki with this fix. Parsoid is the essential tool in my process of parsing Wikipedia xml dump to html.

Thank you so much for your help!

Best regards,

Dung Le.

[2021-04-15 16:43] wgandhi commented on #86
that worked for the MEDIAWIKI_HOST, Thanks.
However, it does not append the port number correctly when I get re-directed to the main page.
I get the correct host but have to add the port number as a fix like before. I tried to use this env variable:MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER on a fresh volume. That did not help. Any other suggestions?

[2021-04-16 07:57] Mauraza commented on #90
Hi @leanhdung1994,

I'm going to create an internal task to investigate, but if an upstream issue of Medikiwi we have to wait until they solve it.

[2021-04-17 15:01] wgandhi commented on #86
Added the external http port on a fresh instance. Is that the correct variable to use to specify the port?

[2021-04-19 07:40] javsalgar commented on #86
I think so. Could you provide me the exact command you used for creating instance?

[2021-04-19 17:25] MajorDisaster commented on #86
Hi, I'm having the same problem, it costed me a half day to find this simple solution. Following README.md:

[code]

then `localhost:8080` reroutes me to localhost/wiki/Main_Page, which gives me
_Not Found
HTTP Error 404. The requested resource is not found._

I have to change it to **http://localhost:8080/wiki/Main_Page** every time to get to the main page. What is the permanent solution? Thank y

[2021-04-19 18:00] MajorDisaster commented on #86
this didn't help MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER=8080

[2021-04-20 01:22] wyntau opened #91 "the page was always redirect to port 80 even I set MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER to 8080"
**Description**

**Steps to reproduce the issue:**

1. `docker-compose up` to start mediawiki and mariadb service(docker-compose.yml see below)
2. visit http://localhost:8080

**Describe the results you received:**

the page was always redirect to http://localhost/wiki/Main_Page.

**Describe the results you expected:**

the page was correctly shown in http://localhost:8080/wiki/Main_Page

**Additi

[2021-04-20 07:38] javsalgar commented on #86
Hi,

I tried to reproduce your instructions and found no issues. By default it is routing 80 -> 8080.

![image](https://user-images.githubusercontent.com/1133777/115356456-f8cbe380-a1bb-11eb-9334-2d4ae3262d6b.png)

Are you also using Traefik?

[2021-04-20 07:55] migruiz4 commented on #91
Hi @wyntau ,

Thank you for reporting this issue.

There is a bug where the variables `MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER`, `MEDIAWIKI_EXTERNAL_HTTPS_PORT_NUMBER`, and `MEDIAWIKI_ENABLE_HTTPS` were not being taken into account.
A new version of the bitnami/mediawiki image fixing this issue will be released soon.

Meanwhile, as a workaround, you could use `MEDIAWIKI_HOST=localhost:8080` to fix the

[2021-04-20 08:06] wyntau commented on #91
Thanks very much. waiting for the new version image 😃

[2021-04-20 14:10] wyntau opened #92 "Can't remove /wiki path prefix"
**Description**

I want to remove the `/wiki` path prefix, so I change `$wgArticlePath = "/wiki/$1";` to `$wgArticlePath = "/$1";`

**Steps to reproduce the issue:**

1. change `$wgArticlePath = "/wiki/$1";` to `$wgArticlePath = "/$1";`
2. `docker-compose up`

**Describe the results you received:**
the page show  not found
![image](https://user-images.githubusercontent.com/2631733/115409037-f7ce9c

[2021-04-21 07:56] javsalgar commented on #92
Hi,

Just a note to let you know that I was able to reproduce the issue. I will open a task for evaluation. Thanks for reporting.

[2021-04-21 12:54] MajorDisaster commented on #86
Hi,

thanks, that is interesting.

I can't use port 80, so I'm binding 8080:8080

No, I'm not using Traefik, just plain and simple containers and following readme.md

![image](https://user-images.githubusercontent.com/46490440/115556735-faaaab00-a27e-11eb-987f-d368332b36ff.png)

[2021-04-22 07:44] javsalgar commented on #86
Hi,

In that screenshot, wouldn't the :8080 port be missing?

[2021-04-23 11:09] migruiz4 commented on #91
Hi @wyntau,

A new version of the MediaWiki image has been released including a fix for your issue: `1.35.2-debian-10-r14`.

Let me know if it worked for you.

[2021-04-23 11:20] wyntau commented on #91
Thank you very much. It works now. 😃

[2021-04-23 11:20] #91 closed

[2021-04-27 01:02] wgandhi commented on #86
the missing port number is exactly the issue.. I can hand type the port number and make the wiki work.. The moment I make any edits, it goes back to localhost/wiki/Main_page

[2021-04-27 02:20] MajorDisaster commented on #86
@wgandhi: correct, this is exactly the buggy behavior I'm observing: it always redirect you to localhost/wiki/Main_page and gives you Not Found error.

It seems to work for @javsalgar though in the screenshot about, but didn't work for us

[2021-04-27 08:27] javsalgar commented on #86
Hi, I use this docker-compose and it worked for me in port 8080

[code]

[2021-04-27 13:46] MajorDisaster commented on #86
Thanks, that is (almost) exactly the same what I posted 8 days ago, and yes, I added following row after that
   - MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER=8080
So it is working for you and not running for some people. Is it something external like browser/OS specific?

[2021-04-27 19:37] wgandhi commented on #86
@javsalgar  are you using network=host or separate network interface?

[2021-04-28 07:51] javsalgar commented on #86
I'm using the default network, and I prune all the previous volumes, which could be affecting as well.

[2021-04-30 13:59] danielmenezesbr commented on #91
Hi @migruiz4, 1.35.2-debian-10-r14 or workaround doesn't work for me.

docker-compose.yml

[code]

$ wget 127.0.0.1:8080

[code]

I also tried to remove MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER but the result was the same

[2021-04-30 14:24] migruiz4 commented on #91
Hi @danielmenezesbr,

Could you try using the following docker-compose?

[code]

Then, from your docker host, try running `wget localhost:8080`
[code]

The workaround I mentioned is for images prior to `1.35.2-debian-10-r14` and won't work after the fix.

[2021-04-30 15:13] danielmenezesbr commented on #91
@migruiz4, sorry!

It seems that there is a problem with my environment.

I did a test using Google Cloud Shell and it worked.

[2021-04-30 16:08] danielmenezesbr commented on #91
@migruiz4 ,

I tested it on [Google Cloud Shell](https://shell.cloud.google.com/?hl=en_US&fromcloudshell=true&show=terminal) and the result was:

[code]

[2021-04-30 21:10] fo0 opened #95 "Failed to enable SSL for custom-domain"
**Description**

I can't activate ssl cert for the mediawiki. I am using the docker-compose install instructions including all the instructions for ssl

**Steps to reproduce the issue:**

1. download and modify docker-compose https://github.com/bitnami/bitnami-docker-mediawiki#tldr
[code]

2. prepare ssl: https://github.com/bitnami/bitnami-docker-apache#using-custom-ssl-certificates I am using let

[2021-05-03 07:25] migruiz4 commented on #91
Hi @danielmenezesbr,

That is the result of setting `MEDIAWIKI_HOST=localhost:8080`. That setting only applies during the first deployment and then is persisted in the volume, so changing it when the container has been created won't take effect.

I'm guessing you started the docker-compose without deleting the previous volume.
Make sure you delete it using `docker volume rm your_volume_name` or de

[2021-05-03 15:34] alvneiayu commented on #95
hi @fo0

Could you include this line inside the docker-compose file, please?

[code]
Then, execute inside the mediawiki docker image:

[code]
and share with me the output, please.

Thanks a lot for your time

Álvaro

[2021-05-06 20:14] fo0 commented on #95
following output:

[code]

[2021-05-07 01:59] #90 closed

[2021-05-07 08:39] alvneiayu commented on #95
hi @fo0
Could you try to execute these commands inside your local cert folder before execute your docker compose, please?

[code]
To verify that the files have the permissions needed.

Let me know if you can reproduce your problem.

Note: Remove the "command: sleep infinity" line that I suggested.

Thanks a lot and I will be looking forward your answer.

Álvaro

[2021-05-28 01:30] #95 closed

[2021-06-17 16:07] rednevals opened #97 "Missing SMTP Authorization Setting"
**Description:**

When using the [Bitnami MediaWiki AWS](https://bitnami.com/stack/mediawiki/cloud)  image for a POC instance, I was able to setup the SMTP server configuration with authorization set to '**false**'. We have an SMTP server that does not support authentication. The settings in LocalSettings.php that worked looks like:
[code]
Now I am trying to use Docker. It seems that configuring t

[2021-06-17 18:06] rednevals commented on #97
I works as expected when I manually edit the generated LocalSettings.php, setting auth to '**false**'. Can we find out why this setting is not supported using Docker Compose?

[2021-06-18 08:09] miguelaeh commented on #97
Hi @rednevals ,
We can add it if it is useful. Would you like to create a PR for that?

[2021-06-18 12:11] rednevals commented on #97
Hi @miguelaeh,
Sure... I've already made the changes locally and will complete testing this morning. Then I will create the PR.

[2021-06-18 14:18] rednevals commented on #97
Pull request created, https://github.com/bitnami/bitnami-docker-mediawiki/pull/98.

Please update the PR if there are anything to discuss or if any changes are needed.

[2021-06-18 15:41] rednevals commented on #84
Definitely not stale... Still an issue with 1.36 when using Docker Compose locally. Would this be an issue when deployed in AWS?

[2021-06-21 08:00] miguelaeh commented on #97
Thank you very much!

[2021-06-21 14:09] carrodher commented on #84
This issue is still open since a solution was not provided, can you try the above proposed workaround? Regarding the platform, as the issue is related to the container image, it will appear in the different platforms where the container is deployed, it shouldn't matter if it is via docker-compose or AWS

Since the `on-hold` label was added this issue is not going to be closed, that is the purpose

[2021-06-29 13:40] rednevals commented on #84
This issue is happening for me even on just a top level page without '/' in the path. I'm currently testing this locally:

Windows 10 Pro + WSL 2 + Docker Desktop + VS Code

Are you saying that this will not be an issue when deployed in AWS?

[2021-06-29 15:38] rednevals opened #99 "Using AWS EFS mount for uploads"
**Description**
I have been looking for detailed examples for creating a mount point in my Mediawiki container, pointing to an AWS EFS drive. There are descriptions of setting the proper values in LocalSettings.php:

  $wgUploadPath
  $wgUploadDirectory

Can someone direct me to any examples of creating the mount?

[2021-06-30 07:00] carrodher commented on #84
No, sorry for the misunderstanding. If the issue is related to the container image you will find it in any platform (locally, AKS, EKS, docker-compose, k8s, etc)

[2021-06-30 08:20] carrodher commented on #99
In a generic way, you can mount volumes if you are using the docker-compose as described in this README section (https://github.com/bitnami/bitnami-docker-mediawiki#persisting-your-application). In the same way, if you are using the Helm Chart there are `extraVolumeMounts` and `extraVolumes` parameters to configure this part of the persistence, you can take a look at the related parameters at http

[2021-06-30 13:15] rednevals commented on #99
What I'm looking for is the '/path/to/' for the Docker Compose. I have created the EFS filesystem in AWS, and have the ID. This discussion seems to indicate that it is possible, but I was looking for a full-up working example:

https://www.mediawiki.org/wiki/Topic:Uylkzx6gd2r0xoea

I love how they say that is works "out-of-the-box". Where is this documented? I'm just missing a couple of piece of t

[2021-06-30 14:30] rednevals commented on #84
Ok. Thanks for responding. That is unfortunate. I have an EC2 instance that I created manually using the Bitnami MediaWiki AMI and it does not have this issue. I was hoping to be able to use Docker Compose, etc...

[2021-07-01 10:26] carrodher commented on #99
The path should be the same that is used right now in the docker-compose:
https://github.com/bitnami/bitnami-docker-mediawiki/blob/605e4f9bb2325c9e4dfcd72e64cdeddc3d63b129/docker-compose.yml#L23

In the case of the existing docker-compose, there are defined two local volumes (one for the database and another one for mediawiki) and then those volumes are attached to the containers in a specific pat

[2021-07-02 10:21] carrodher commented on #84
Probably there is some room for improvement in the following logic, https://github.com/bitnami/bitnami-docker-mediawiki/blob/master/1/debian-10/rootfs/opt/bitnami/scripts/mediawiki/postunpack.sh#L46. On our side there is an internal task, but due to other priorities in the team, we didn't find the bandwidth to work on that. As the code is opensource, if someone wants to contribute we will be happy

[2021-07-02 18:21] rednevals commented on #99
I am not using that extension. This was just one of the discussions I could find about using existing EFS for storage. My question was related to how to specify the path correctly. This is most likely from my inexperience with Docker.

When I work locally, Docker creates the volumes and they are populated the first time the stack comes up. As I understand things, when the context is changed to AWS

[2021-07-05 06:10] carrodher commented on #99
Maybe you can try mounting two different volumes (the local and the AWS one) in the same path, something like:
[code]

I'm not sure if you can find any issue because the mounting point is the same for both volumes so there can be some conflicts.

[2021-07-13 01:23] #97 closed

[2021-07-26 01:24] #99 closed

[2021-09-02 12:55] nxcc opened #100 "Any plans to release Mediawiki 1.35.3 and future LTS releases?"
Hi, we are still using the Mediawiki 1.35.2 Version of the bitnami-docker-mediawiki image, but ideally would like to upgrade to 1.35.3 as this has some bug and security fixes. I wonder if 1.35.3 and future LTS Releases will be released by bitnami. At the moment there seem to be only updates tracking latest 1.36 releases.

[2021-09-03 11:42] marcosbc commented on #100
Hi @nxcc, unfortunately it is not within our short-term plans to support a different branch of versions (other than the latest version).

However, it should be fairly simple to create your own Docker image based on `bitnami/mediawiki:latest`. To do so, replace the files inside `/opt/bitnami/mediawiki` with the ones for the specific MediaWiki version you want (i.e. `1.35.2`).

[2021-09-03 12:57] nxcc commented on #100
Hi @marcosbc, thanks for confirming.

[2021-09-03 12:57] #100 closed

[2021-12-26 11:33] carrodher commented on #84
Hi, unfortunately, if the issue is not solved in recent versions means the task is still on our backlog and there are no plans to work on it in the short/middle term.

In the same way, please, [note the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-support

[2021-12-26 11:33] carrodher commented on #73
Hi, unfortunately, if the issue is not solved in recent versions means the task is still on our backlog and there are no plans to work on it in the short/middle term.

In the same way, please, [note the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-support

[2021-12-26 11:33] carrodher commented on #57
Hi, unfortunately, if the issue is not solved in recent versions means the task is still on our backlog and there are no plans to work on it in the short/middle term.

In the same way, please, [note the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-support

[2022-01-09 11:53] sunny-chung opened #101 "Can't initialize with error: Cannot persist 'images' because it does not exist"
**Description**

I'm trying to do a fresh installation of MediaWiki. It fails at the end of installation with an error message:

**Steps to reproduce the issue:**

1. Create an empty MySQL database using docker image `mysql:8.0.27`
2. Create a docker container with this image (version 1.37.1) and run

**Describe the results you received:**

Log output:
[code]

**Describe the results you expected:*

[2022-01-10 07:51] carrodher commented on #101
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by

[2022-01-11 16:27] quinn-freshly opened #102 "after specifying MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER, still creates redirect to port 80"
**Description**

Tries to redirect to port 80.

**Steps to reproduce the issue:**

1. download example docker compose file
2. add MEDIAWIKI_EXTERNAL_HTTP_PORT_NUMBER=8080
3. change port mapping to "8080:8080"
4. docker-compose up
5. curl localhost:8080

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g.

[2022-01-11 17:18] quinn-freshly commented on #102
I wasn't getting the env var change. to fix this, i did

1. docker-compose down
2. docker volume prune

I thought down also deleted volumes, my bad!

[2022-01-11 17:18] #102 closed

[2022-01-16 01:26] #84 closed

[2022-01-16 01:26] #73 closed

[2022-01-16 01:26] #57 closed

[2022-01-18 08:07] chendelin1982 opened #103 "MEDIAWIKI_PASSWORD error to log"
**Description**

when MEDIAWIKI_PASSWORD is does not meet password length requirements (min 10 characters, alphanumeric, no special characters), docker can't start but no error logs

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

[2022-01-18 09:35] carrodher commented on #103
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by

[2022-01-19 01:06] chendelin1982 commented on #103
OK, thanks

[2022-02-01 01:25] #101 closed

[2022-02-05 19:42] go2tom42 commented on #84
not stale

[2022-02-08 01:24] #103 closed

[2022-02-25 14:19] MohammadrezaMasoumi opened #104 "connection to ldap server ( active directory )"
### Name and Version

bitnami/mediawiki:1.37.1

### What is the problem this feature will solve?

hello
i want to know is it possible to add connection to ldap server feature or no ?
thanks alot

### What is the feature you are proposing to solve the problem?

for handling existing users that have domain user .

### What alternatives have you considered?

?!

[2022-02-27 16:34] carrodher commented on #104
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by

[2022-03-20 01:29] #104 closed

[2022-04-06 00:22] cyberpd opened #105 ""syntaxhighlight" extension not working"
### Name and Version

bitnami/mediawiki:1.37.2-0

### What steps will reproduce the bug?

### Environment
- WSL2 on Windows 11 21H2(22000.593), Ubuntu
- Docker 20.10.14

### Step

1. Load extensioins ( LocalSettings.php )
[code]

2. create wiki page
[code]

### What is the expected behavior?

### expected
<img width="176" alt="quick_sort_python" src="https://user-images.githubusercontent.com/25042

[2022-04-06 06:34] carrodher commented on #105
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-mediawiki#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container ima

[2022-04-07 01:07] cyberpd commented on #105
pygmentize can't execute
<code>/usr/bin/env: 'python3': No such file or directory</code>

[2022-04-07 02:15] #105 closed